
body {
    margin: 0;
    header {
        margin: 10px 10px;
    }    
    main {
        margin: 30px 20px;
        article {
            display: flex;        
            align-items: center;
            margin-bottom: 30px;
            div {            
                margin-left: 10px;
            }
            div :first-child {
                font-weight: 600;
            }
        }
    }        
}


